body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
button {
    padding: 0;
    border: none;
    background: none;
    margin: 0;
    height: 0;
}

#container {
    margin: 0 auto;
    margin-top: 100px;
    background-color:red;
    width: 40%;
    padding: 0;
    border: 1px solid black;
}

#addSub {
    width: 100%;
    border: 0px solid;
    padding: .5rem .2rem;
    box-sizing: border-box;
    
}
#addSub:focus {
    outline: none;
}

.itmCont {
    /* position: relative; */
    background-color: orange;
    margin: 0;
    /* padding: .35rem 0; */
    padding: 0 0;
    border-bottom: 1px solid black ;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    min-height:2rem;
}

 .delBtn {
    background-color: purple;
    width: 2rem;
    height: 100%;
    flex: 1;
}

.edBtn {
    background-color: green;
    height: 100%;
    width: 2rem;
    flex: 1;
}

.itmCont .itmData {
    background-color: aqua;
    margin: auto 0;
    padding-left: .5rem;
    flex-shrink: 1;
    flex: 10;
    /* margin-left: 2.5rem; */
}

.editing {
    flex-basis: 100%;
    width: 100%;
}

.itmCont:nth-child(even) {
    background-color: yellow;
}

.itmCont:nth-last-child(1) {
    border-bottom: none;
}